<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blog - Login</title>
</head>
<body>
  <div class="container">
    <form action="/users/login" method="POST">
        <div class="form-group">
            <label for="logemail">Username</label>
            <input type="text" name="logemail" id="logemail" class="form-control">
          </div>
          <div class="form-group">
            <label for="logpassword">Password</label>
            <input type="password" name="logpassword" id="logpassword" class="form-control"></input>
          </div>
          <a href="/" class="btn btn-secondary">Cancel</a>
          <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
</body>
</html>